---
import GitHub from '@/icons/GitHub.astro';
import Section from '../Section.astro';

import { projects, maps } from '@cv';
---

<Section title="Projects & Maps">
    <ul>
        {
            projects.map(({ url, description, highlights, name, isActive, github }) => {
                return (
                    <li>
                        <article>
                            <header>
                                <h3>
                                    {url ? (
                                        <a href={url} target="_blank" rel="noopener noreferrer" title={`See the project ${name}`}>
                                            {name}
                                        </a>
                                    ) : (
                                        <span class="no-link">{name}</span>
                                    )}
                                    {isActive && <span class="active">•</span>}
                                    {github && (
                                        <a class="github-code-link" href={github} target="_blank" rel="noopener noreferrer" title={`Ver código fuente del proyecto ${name}`}>
                                            <GitHub />
                                        </a>
                                    )}
                                </h3>
                                <p>{description}</p>
                            </header>
                            <footer>
                                {highlights.map((highlight) => {
                                    return <span>{highlight}</span>;
                                })}
                            </footer>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>
<Section title="Map Gallery">
    <div class="map-grid">
        {
            maps.map(({ title, description, technologies, url }) => {
                return (
                    <div class="map-item">
                        <img src={url} alt={`${title}`} loading="lazy" />
                        <div class="map-info">
                            <h4>{title}</h4>
                            <p>{description}</p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</Section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal = createModal();
        const modalContent = createModalContent(modal);
        attachEventListeners(modal, modalContent);
    });

    function createModal() {
        const modal = document.createElement('div');
        Object.assign(modal.style, {
            display: 'none',
            position: 'fixed',
            zIndex: '1000',
            left: '0',
            top: '0',
            width: '100%',
            height: '100%',
            backgroundColor: 'rgba(0, 0, 0, 0.5)',
            alignItems: 'center',
            justifyContent: 'center',
        });
        document.body.appendChild(modal);
        return modal;
    }

    function createModalContent(modal) {
        const modalContent = document.createElement('img');
        Object.assign(modalContent.style, {
            maxWidth: '80%',
            maxHeight: '80%',
        });
        modal.appendChild(modalContent);
        return modalContent;
    }

    function attachEventListeners(modal, modalContent) {
        document.querySelectorAll('.map-item img').forEach((element) => {
            const img = element;
            img.addEventListener('click', () => {
                modalContent.src = img.src;
                modal.style.display = 'flex';
            });
        });

        modal.addEventListener('click', () => {
            modal.style.display = 'none';
        });
    }
</script>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        margin-inline: -16px;
    }

    article {
        border-radius: 8px;
        border: 1px solid #f2f2f2;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 100%;
    }

    article header {
        flex: 1;
    }

    article h3 {
        margin-bottom: 4px;
    }

    article a {
        color: var(--main-1);
    }

    article a:hover {
        text-decoration: underline;
        color: var(--contrast-1);
    }

    .no-link {
        color: var(--main-1);
    }

    article h3 span.active {
        color: rgb(0, 188, 47);
    }

    article p {
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin-bottom: 4px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }

    footer span {
        border-radius: 6px;
        background-color: var(--main-4);
        color: var(--main-1);
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

    .github-code-link {
        margin-left: 5px;
    }

    .map-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        gap: 1rem;
    }

    .map-item {
        position: relative;
        cursor: pointer;
    }

    .map-item img {
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }

    .map-item h4 {
        color: var(--base-1);
    }

    .map-item:hover img {
        filter: grayscale(0);
    }

    .map-info {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: 100%;
        padding: 3px;
        display: none;
        font-size: 0.6rem;
    }

    .map-item:hover .map-info {
        display: block;
    }

    @media (width <= 700px) {
        ul {
            margin-inline: 0px;
        }

        article {
            box-shadow: 0 1px 1px #f2f2f2;
            padding: 5px 5px 10px 10px;
        }

        .map-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
            gap: 1rem;
        }

        .map-item {
            position: relative;
            height: auto;
        }

        .map-item img {
            width: 100%;
            height: auto;
        }

        .map-info {
            display: none !important;
        }
    }
</style>
